body {
    background-color: #0a192f;
    color: #cadceb;
    margin: 0 12%;
}

.description {
    text-align: center;
    margin: 10px;

}
.description > h2 {
    margin: 10px;
}
.description > p {
    margin: 0px;
}
.sub-container {
    display: flex;
    justify-content:center ;
    flex-wrap: wrap;
    margin: auto;
}
.f-item {
    width: 220px;
    height: 220px;
    padding: 10px;
    margin: 6px;
    background-color:#112240;
}
.f-item {
    font-size: 14px;
}

.svg-folder {
    color:aqua;
    height: 100;
    width: 100;
}
.t-stack-list {
    list-style-type: none;
    display: flex;
    gap: 12px;
    font-size: 14px;
    color: #8892b0;
    padding: 0px;
    }